form span {
  display: block;
}
form label {
  display: block;
}
html,
body {
  font-size: 18px;
}

body {
  min-height: 100vh;
}

.theme-btn {
  padding: 16px;
  font-size: 36px;
}

.theme {
  color: var(--color);
  background-color: var(--bg);
  min-height: 100vh;
}

.theme--light {
  --color: black;
  --bg: white;
  --link: blue;
}
.theme--dark {
  --color: white;
  --bg: black;
  --link: yellow;
}

a {
  color: var(--link);
}

.btn {
  padding: 16px;
}

.btn--error {
  background-color: tomato;
}

.btn:not(:first-child) {
  margin-left: 16px;
}
